@use '../../scss/base';

.background {
  background: map-get(base.$white, 200);
  display: block;
  padding: map-get(base.$spacings, l) 0;
  position: relative;
  width: 100%;
}

.content {
  display: block;
  margin: 0 auto;
  position: relative;
  width: 80%;
}

.description {
  margin-bottom: map-get(base.$spacings, xs);
}

button {
  width: 100%;

  @include base.breakpoint(512px) {
    width: fit-content;
  }
}

.accept-cookies {
  margin-bottom: map-get(base.$spacings, xs);

  @include base.breakpoint(512px) {
    margin-right: map-get(base.$spacings, s);
  }
}
